.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup_type_confirm .popup__content {
  max-width: 430px; 
  min-height: 181px;
  height: auto; 
  padding: 20px 24px; 
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.popup_type_avatar .popup__content {
  min-height: 270px;
}

@media screen and (max-width: 568px) {
  .popup_type_confirm .popup__content {
    max-width: calc(100% - 40px); 
    height: auto; 
    padding: 20px; 
  }
}
